* {
	box-sizing: border-box;
	background: fixed;
	height: max-content;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #857e5a, rgb(87, 87, 87));
}

header {
    background-color: #333;
	color: #fff;
	padding: 20px;
}

header h1 {
	background:#857e5a;
	margin: 0;
	font-size: 2em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-btn {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    position: fixed;
    top: 20px;
    right: 20px;
	text-decoration: none;
  }
  
  .nav-btn:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
  
.subjects {
	display: flex;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	margin: 30;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.subject {
    background: rgb(255, 255, 255);
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: solid;
	border-radius: 15px;
    height: max-content;
	margin: 30px;
	padding: 20px;
	text-align: center;
	max-width: 400px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.subject h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.subject p {
	font-size: 1.2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.subject a {
	background-color: #333;
	color: whitesmoke;
	padding: 20px 30px;
	border-radius: 15px;
	text-decoration: none;
	font-size: 1.2em;
}

div .subject {
	width: 200px;
	height: 50px;
	border: 1px solid #ccc;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
  }

.subject a:hover {
	background-color: #857e5a;
	color: #333;
}

h1 {
	text-align: center;
	border: 10px;
	padding: 10px;
	background-color: #333;
	color: whitesmoke;
}

header .nav-btn{
	border: 1px solid #ddd;
	padding: 10px;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
